.outline {
  border: 1px;
  border-color: aquamarine;
}

html,
body {
  height: 100%;
}
body {
  min-height: 100%;
}

/* large screen */
.fontL {
  font-size: 50px;
}

.fontM {
  font-size: 36px;
}

.fontS {
  font-size: 28px;
}

.alignR {
  text-align: end;
}

.alignC {
  text-align: center;
}

.noMargin {
  margin: -8% -5% -2% -5%;
}

/* medium screen */
.medFontXL {
  font-size: 60px;
}

.medFontL {
  font-size: 36px;
}

.medFontM {
  font-size: 26px;
}

.meFontS {
  font-size: 18px;
}

.medAlignR {
  text-align: end;
}

.medAlignC {
  text-align: center;
}

.medNoMargin {
  margin: -8% -5% -2% -5%;
}

/* mobile screen */
.mobFontXL {
  font-size: 48px;
}

.mobFontL {
  font-size: 28px;
}

.mobFontM {
  font-size: 20px;
}

.mobFontS {
  font-size: 14px;
}

.mobAlignR {
  text-align: end;
}

.mobAlignC {
  text-align: center;
}

.mobNoMargin {
  margin: -4% -3% -2% -4%;
}

/* small screen */
.smFontXL {
  font-size: 54px;
}

.smFontL {
  font-size: 36px;
}

.smFontM {
  font-size: 26px;
}

.smFontS {
  font-size: 22px;
}

.smAlignR {
  text-align: end;
}

.smAlignC {
  text-align: center;
}

.smNoMargin {
  margin: -4% -3% -2% -4%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
